<div class="row event-summary">
    <div class="span1">
        <a href="{{ event.website_uri }}">
            <img src="{{ event.icon|img_path("event_icons") }}" alt="{{ event.name }}" />
        </a>
    </div>
    <div class="span3">
        <h3><a href="{{ event.website_uri }}">{{ event.name }}</a></h3>

        <p class="info"><strong>{{ event.start_date|format_date }}</strong> until
            <strong>{{ event.end_date|format_date }}</strong>
        </p>

        <div class="links">
            <a href=""><i class="icon-calendar"></i> 16</a>
            <a href=""><i class="icon-comment"></i> 24</a>
            <a href=""><i class="icon-user"></i> 100</a>
        </div>
    </div>
</div>
